<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<a href="staffhome">Home</a>
<a href="staffmanagecategory">Manage Category</a>
<a href="staffmanagesubcategory">Manage Sub category</a>
<a href="staffmanageservice">Manage Service</a>
<a href="staffviewcustomers">View Customers</a>
<a href="staffviewbookings">View bookings</a>
<a href="/">logout</a>